* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.nav-wrapper {
  position: fixed;
  margin: 0;
  background-color: darkseagreen;
  letter-spacing: 5px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: -10px;
  height: 1%;
  width: 100%;
  padding-top: 0;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
  background-color: darkseagreen;
}
#footer a {
  color: white;
  text-decoration: underline;
}
#footer a:hover {
  color: darkgreen;
  text-decoration: underline;
}
.container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.right .material-icons {
  font-size: 40px;
  line-height: 65px;
  height: inherit;
}
.box {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail-item {
  padding: 50px 100px;
}
.material-icons {
  cursor: pointer;
}
.card {
  flex: 0 1 calc(50% - 1em);
}
#card img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%;
}
.card-information {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-information .btn-floating {
  margin: 0;
}
.not-available {
  color: red;
}
#product {
  display: flex;
}
#product-img {
  display: block;
  padding-left: 30px;
  text-align: left;
  max-width: 100%;
  max-height: 100%;
}
#product-information {
  padding: 24px;
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.return {
  display: flex;
  max-width: 4%;
  align-items: center;
  color: darkseagreen;
}
.return .material-icons {
  font-size: 40px;
  font-weight: bold;
}
#add-button, #remove-button,
#increment-button, #decrement-button {
  background-color: darkseagreen;
}
#add-button:hover, #remove-button:hover,
#increment-button:hover, #decrement-button:hover {
  background-color: darkgreen;
}
#home-button:hover, #cart-button:hover,
#return-button:hover{
  color: darkgreen;
}
/* Cart */
#cart-badge {
  color: darkgreen;
  font-weight: bolder;
  font-size: 14px;
}
.cart-container {
  min-width: 100%;
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}
