.nav-wrapper {
  background-color: seagreen;
}
.container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.right .material-icons {
  font-size: 40px;
  line-height: 65px;
  height: inherit;
}
.box {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail-item {
  padding: 50px;
}
.material-icons {
  cursor: pointer;
}
.card {
  flex: 0 1 calc(50% - 1em);
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%;
}
.card-information {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-information .btn-floating {
  margin: 0;
}
